.btn {
    width: 200px;
    background: #97a3f1;
    cursor: pointer;
}

.hide {
    display: none;
}

.th {
    cursor: pointer;
}

.new-student {
    background-color: #cacaca;
}

.form-control {
    max-width: 200px;
}

.form-group {
    padding: 10px 50px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.form-control:not(:last-child) {
    margin: 10px;
}